.spline-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3; 
    overflow-x: hidden;
  }

  .hero-content {
    overflow-x: hidden;
    position: relative;
    z-index: 99; 
    max-height: 600px;
    overflow-y: hidden;
    max-width: 600px;
    margin: 0 auto;
    margin-left: 3%;
    padding: 2rem;
    text-align: left;
    color: white; 
    text-shadow: 3 4px 4px rgb(0, 0, 0); 
  }

  .bg-imageB {
    z-index: 5 ;
    margin-left: 30%;
    margin-bottom: 0%;
  }

  @media (max-width: 1024px) {
    .hero-content{
      margin-left: auto;
      text-align: center;
    }

    .bg-imageB {
    display:none;

   }
  }

  @media (max-width: 769px) {

    .spline-background {
      z-index: 3; 
      height: 100%;
     }
  }
  
  @media (max-width: 1025px) {

    .spline-background {
      z-index: 3; 
      height: 100%;
     }
  }

    
  @media (max-width: 1440px) {
    .spline-background {
      z-index: 3; 
      height: 100%;
     }
  }
  
  .bg-logo {
    overflow-x: hidden;
    z-index: 99 !important; 
  }
  
  .bg-abovelayer {
    overflow-x: hidden;
  }

  .dividerborder {
    overflow: hidden;
  }
 
  .bg-belowlayer {
    z-index: 32;
    scale: 1.01;
  }

.hero-content .cta-button{
  border-radius: 0.8rem;
}

.img-lightBulb {
  padding-bottom: 65vh;
  z-index: 3; 
}

.img-lightBulbDark {
  padding-bottom: 65vh;
  z-index: 2; 
}

.hero h1 {
  color: var(--primary);
  font-family: 'octinspray';
  font-size: 10rem;
  font-weight: bold;
  white-space: nowrap;
  /* display: inline-block; */
  padding-right: 15rem;
}

.marquee {
  margin-top: 15rem;
  display: flex;
  justify-content: flex-end;
  width: max-content;
  position: absolute;
  left: 99vw;
}

.equipment-container {
  width:100vw;
  z-index: 3;
}

.equipment-container-bg {
  z-index: 1;
}

/* .Dreamland-heading1 {
  font-size: 7rem !important;
  font-weight: bold;
  font-family: 'AgudaBlack' !important;
  text-shadow: 0.5rem 0.5rem black;
}

.Dreamland-heading2 {
  font-size: 8rem !important;
  font-weight: bold;
  z-index: 2;
  font-family: 'AgudaBlack' !important;
  text-shadow: 0.5rem 0.5rem black;
} */

.Dreamland-heading1,
.Dreamland-heading2 {
  font-family: 'AgudaBlack' !important;
  position: absolute;
  margin-top: 10rem;
  top: 20%;
  left: 50%;
  transform: translateX(-42%);
  font-weight: 800;
  text-align: start;
  width: max-content;
  pointer-events: none;
  z-index: 1;
  text-align: center;
  line-height: 1.1; 
}

.Dreamland-heading1 {
  font-size: 8rem !important;
  color: #e7b826;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.6);
}

.Dreamland-heading2 {
  font-size: 8.2rem !important;
  color: black !important;
  z-index: 0;
  transform: translateX(-42%) translateY(6px);
}

@media (max-width: 600px) {
  .Dreamland-heading1,
  .Dreamland-heading2 {
    font-size: 4.0rem !important;
    left: 5.0rem;
    margin-top: 22rem;
  }
}

@media (min-width: 601px) and (max-width: 800px) {
  .Dreamland-heading1,
  .Dreamland-heading2 {
    font-size: 7.5rem !important;
    left: 3rem;
    margin-top: 19rem;
  }
}

@media (min-width: 801px) and (max-width: 1024px) {
  .Dreamland-heading1,
  .Dreamland-heading2 {
    font-size: 7.5rem !important;
    left: 3rem;
    margin-top: 19rem;
  }
}


@media (min-width: 1025px) {
  .Dreamland-heading1,
  .Dreamland-heading2 {
    font-size: 8rem !important;
    margin-left: 4rem;
    margin-top: 21rem;
  }
}

@media (min-width: 2025px) {
  .Dreamland-heading1,
  .Dreamland-heading2 {
    font-size: 8rem !important;
    margin-left: 4rem;
    margin-top: 28rem;
  }
}

