.services-section {
    display: flex;
    flex-direction: column;
    gap: 14rem;
    background-color: var(--dark-bg);
    color: white;
    padding: 2rem;
    justify-content: center;
    align-items: flex-start;
    max-width: 100vw;
    position: relative;
  }
  
  @media (min-width: 768px) {
    .services-section {
      flex-direction: row;
      align-items: flex-start;
    }
  }
  
  .services-left-box {
    border: 2px solid var(--primary);
    padding: 2.5rem;
    max-width: 800px;
    font-size: 1.5rem;
    justify-content: center;
    z-index: 1;
  }
  
  @media (max-width: 500px) {
    .service-card {
      background-color: var(--dark-bg);
      z-index: 99;
    }
    .services-left-box {
      padding: 1.5rem;
      max-width: 600px;
      font-size: 1.5rem;
      justify-content: center;
      z-index: 1;
    }
   }

  .services-title {
    font-size: 2.5rem;
    font-weight: bold;
    line-height: 1.2;
  }
  
  .highlight {
    color: var(--primary);
  }
  
  .more-button {
    margin-top: 1.5rem;
    padding: 0.5rem 1.5rem;
    border: 1px solid var(--primary);
    color: var(--primary);
    background: transparent;
    cursor: pointer;
    transition: 0.3s;
    font-weight: bold;
  }
  
  .more-button:hover {
    background-color: var(--primary);
    color: black;
  }
  
  .services-list {
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    max-width: 600px;
  }
  
  .service-card {
    border: 2px solid var(--primary);
    overflow: hidden;
  }
  
  .service-label {
    background-color: rgba(0, 0, 0, 0.8);
    color: var(--primary);
    font-weight: bold;
    font-size: 0.875rem;
    padding: 0.5rem 1rem;
    text-transform: uppercase;
  }
  
  .service-image-wrapper {
    position: relative;
    width: 100%;
    height: 12rem;
  }
  