/* Global Styles */
.auth-container *,
.auth-container *:before,
.auth-container *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  /* background: url('/images/elements/BGTexture_highquality-02.jpg'); */
  background-color: var(--dark-bg);
  background-size: cover;
}

.auth-container {
  font-family: "octinspray";
  /* background: var(--dark-bg); */
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
}

.auth-container input,
.auth-container button {
  border: none;
  outline: none;
  background: none;
  font-family: "AgudaBlack";
  justify-content:center;
}

.auth-container button {
  background: var(--dark-bg);
  outline: 3px var(--primary) solid;
  outline-offset: -3px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: 400ms;
}

/* Container Styles */
.auth-container .cont {
  text-align: center;
  border-radius: 0 60px 0 60px ;
  overflow: hidden;
  position: relative;
  width: 900px;
  height: 550px;
  background-color: var(--dark-bg);
}

/* Form Styles */
.auth-container .form {
  background: var(--dark-bg);
  font-family: "AgudaBlack";
  position: relative;
  width: 640px;
  height: 100%;
  transition: transform 1.2s ease-in-out;
  padding: 50px 30px 0;
}

.auth-container .sub-cont {
  background: var(--gradient);
  overflow: hidden;
  position: absolute;
  left: 640px;
  top: 0;
  width: 900px;
  height: 100%;
  padding-left: 260px;
  transition: transform 1.2s ease-in-out;
}

.auth-container .cont.s--signup .sub-cont {
  transform: translate3d(-640px, 0, 0);
}

/* Image Section Styles */
.auth-container .img {
  font-size: 1.5rem;
  font-weight: bolder;
  overflow: hidden;
  z-index: 2;
  position: absolute;
  left: 0;
  top: 0;
  width: 260px;
  height: 100%;
  padding-top: 360px;
  /* background-color: var(--gradient); */
}

.auth-container .img:before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 900px;
  height: 100%;
  /* background-image: url("ext.jpg"); */
  opacity: 0.8;
  background-size: cover;
  transition: transform 1.2s ease-in-out;
}

.auth-container .img:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.096);
}

.auth-container .cont.s--signup .img:before {
  transform: translate3d(640px, 0, 0);
}

/* Text Styles */
.auth-container .img__text {
  z-index: 2;
  position: absolute;
  left: 0;
  top: 50px;
  width: 100%;
  padding: 0 20px;
  text-align: center;
  color: #fff;
  transition: transform 1.2s ease-in-out;
}

.auth-container .img__text h3 {
  margin-bottom: 10px;
  font-weight: bold;
}

.auth-container .cont.s--signup .img__text.m--up {
  transform: translateX(520px);
}

.auth-container .img__text.m--in {
  transform: translateX(-520px);
}

.auth-container .cont.s--signup .img__text.m--in {
  transform: translateX(0);
}

/* Button Styles */
.auth-container .img__btn {
  overflow: hidden;
  z-index: 2;
  position: relative;
  width: 100px;
  height: 36px;
  margin: 4rem auto;
  background: transparent;
  color: #fff;
  text-transform: uppercase;
  font-size: 15px;
  cursor: pointer;
  border: 3px;
  border-radius: 30px;
  transition: all 0.4s ease-in-out;
  font-family: 'AgudaBlack';
  font-weight: lighter;
}


.auth-container .img__btn:after {
  content: "";
  z-index: 2;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: 3px solid #ffffff;
  border-radius: 30px;
}

.auth-container .img__btn:hover {
  background: #ffffff;
  color: var(--primary);
}

.auth-container .img__btn span {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  transition: transform 1.2s;
}

.auth-container .img__btn span.m--in {
  transform: translateY(-72px);
}

.auth-container .cont.s--signup .img__btn span.m--in {
  transform: translateY(0);
}

.auth-container .cont.s--signup .img__btn span.m--up {
  transform: translateY(72px);
}

/* Form Elements */
.auth-container h2 {
  color: rgb(255, 255, 255);
  width: 100%;
  font-size: 26px;
  text-align: center;
  margin-bottom: 30px;
}

.auth-container label {
  display: block;
  width: 260px;
  margin: 25px auto 0;
  text-align: center;
}

.auth-container label span {

  font-size: 12px;
  color: #cfcfcf;
  text-transform: uppercase;
}

.auth-container input {
  color: #ffffff;
  background-color: #1b1b1b;
  border-radius: 8px;
  display: block;
  width: 100%;
  margin-top: 5px;
  padding-bottom: 5px;
  font-size: 16px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  text-align: center;
}

.auth-container .forgot-pass {
  margin-top: 15px;
  text-align: center;
  font-size: 12px;
  color: #cfcfcf;
}

.auth-container .submit {
  color: #1b1b1b;
  font-weight: bold;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 20px;
  background-color: var(--primary);
  text-transform: uppercase;
  width: 260px;
  height: 36px;
  border-radius: 30px;
  font-size: 15px;
  cursor: pointer;
}

.auth-container .submit:hover {
  color: var(--primary);
  align-items: center;
  margin-top: 40px;
  margin-bottom: 20px;
  background-color: var(--dark-bg);
  text-transform: uppercase;
  width: 260px;
  height: 36px;
  border-radius: 30px;
  font-size: 15px;
  cursor: pointer;
}

/* Transition Styles */
.auth-container .sign-in {
  transition-timing-function: ease-out;
}

.auth-container .cont.s--signup .sign-in {
  transition-timing-function: ease-in-out;
  transition-duration: 1.2s;
  transform: translate3d(640px, 0, 0);
}

.auth-container .sign-up {
  transform: translate3d(-900px, 0, 0);
}

.auth-container .cont.s--signup .sign-up {
  transform: translate3d(0, 0, 0);
}