.AboutUs {
  background: url('/images/elements/S.webp') no-repeat center center fixed;
  background-color: #000;
  max-width: 100vw;
  width: 100vw;
  padding: 0% 0% 0% 0%;
  position: relative;
  overflow-x: hidden !important;
}

.Aboutsection1 {
  background-color: none;
  width: 100vw;
  height: 100vh;
  position: relative;
}

.Aboutsection1 text {
  font-family: 'Swiss721Bold';
  font-weight: bold;
  word-break: break-word; 
}

.Aboutsection3 {
  background-color: #fff;
  width: 100vw;
  height: 100vh;
  position: relative;
}

