/* .cta-section {
	background: var(--gradient);
    max-width: 100%;
    margin: 0%;
	padding-top: 1%;
	padding-bottom: 6rem;
}

.cta-section .cta-text {
	font-family: 'AgudaBlack';
	padding-left: 12%;
	font-size: 20px;
	float: left;
}

.cta-section .cta-text h3 {
	font-family: 'AgudaBlack';
	font-size: 25px;
	font-weight: bold;
	color: #000000;
	text-transform: uppercase;
	margin-bottom: 10px;
}

.cta-section .cta-text p {
	color: #000000;
	margin-bottom: 0;
}

.cta-section .primary-btn.cta-btn {
	float: right;
	border-color: #000000;
	background-image: -webkit-gradient(linear, left top, right top, color-stop(100%, #000000), to(#000000)), -webkit-gradient(linear, left top, right top, from(#ffffff), color-stop(0%, #ffffff));
	background-image: -o-linear-gradient(left, #000000 100%, #000000 100%), -o-linear-gradient(left, #000000 0%, #000000 0%);
	background-image: linear-gradient(to right, #000000 100%, #000000 100%), linear-gradient(to right, #000000 0%, #000000 0%);
	margin-top: 14px;
	font-family: 'AgudaBlack';
}

.primary-btn:hover{
	color: var(--primary);
	background-color: #000000;
	transition-duration: 10ms;
}

.primary-btn {
	display: inline-block;
	font-size: 13px;
	font-family: "Oswald", sans-serif;
	font-weight: 600;
	padding: 0 12px;
	color: #000000;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-align: center;
	width: 160px;
	height: 46px;
	border-bottom: 2px solid #000000;
	border-top: 2px solid #000000;
	border-left: 4px solid #000000;
	border-right: 4px solid #000000;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	background-position: 0 0, 0 100%;
	background-repeat: no-repeat;
	background-size: 100% 2px;
	background-image: -webkit-gradient(linear, left top, right top, color-stop(100%, #000000), to(#000000)), -webkit-gradient(linear, left top, right top, from(#000000), color-stop(0%, #000000));
	background-image: -o-linear-gradient(left, #000000 100%, #000000 100%), -o-linear-gradient(left, #000000 0%, #000000 0%);
	background-image: linear-gradient(to right, #000000 100%, #000000 100%), linear-gradient(to right, #000000 0%, #000000 0%);
	-webkit-transition-duration: 1000ms;
	-o-transition-duration: 1000ms;
	transition-duration: 1000ms;
	line-height: 45px;
	position: relative;
	z-index: 1;
	border-radius: 4px;
}

.primary-btn:after {
	color: #ffffff;
	-webkit-transition-duration: 500ms;
	-o-transition-duration: 500ms;
	transition-duration: 500ms;
	background: --primary;
	background: -webkit-gradient(linear, left top, right top, from(#000000), to(#000000));
	background: -o-linear-gradient(left, #000000, #000000);
	background: linear-gradient(to right, #000000, #000000);
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: -1;
	border-radius: 2px;
	opacity: 0;
}


@media (max-width: 1025px) {
	.cta-section {
		padding: 2rem;
		padding-top: 2rem;
		padding-bottom: 6rem;
	}
	.cta-section .cta-text {
		padding-left: 0%;
	}
}

@media (max-width: 768px) {
	.cta-section {
		padding: 3rem;
		padding-top: 2rem;
		padding-bottom: 6rem;
	}
	.cta-section .cta-text {
		padding-left: 0%;
		font-size: 0.85rem;
	}
	.cta-section .primary-btn.cta-btn {
		font-size: 0.78rem;
	}
	.primary-btn {
		width: 120px;
		height: 40px;
	}
}

@media (max-width: 440px) {
	.cta-section {
		padding: 4rem;
		padding-top: 2rem;
		padding-bottom: 11rem;
	}
	.cta-section .cta-text {
		font-size: 0.85rem;
	}
	.cta-section .primary-btn.cta-btn {
		font-size: 0.78rem;
	}
	.primary-btn {
		width: 120px;
		height: 40px;
	}
}

@media (max-width: 400px) {
	.cta-section {
		padding: 4rem;
		padding-top: 2rem;
		padding-bottom: 15rem;
	}
	.cta-section .cta-text {
		font-size: 0.85rem;
	}
	.cta-section .primary-btn.cta-btn {
		font-size: 0.78rem;
	}
	.primary-btn {
		width: 120px;
		height: 40px;
	}
}

@media (max-width: 340px) {
	.cta-section {
		padding: 4rem;
		padding-top: 2rem;
		padding-bottom: 15rem;
	}
	.cta-section .cta-text {
		font-size: 0.85rem;
	}
	.cta-section .primary-btn.cta-btn {
		font-size: 0.78rem;
	}
	.primary-btn {
		width: 120px;
		height: 40px;
	}
} */