
.dividerborder {
    overflow: hidden;
  }

  .chaindivider {
    overflow: hidden;
  }

  @media (max-width: 768px) {
    .chaindivider {
      left: 0px;
    }
  }

  @media (max-width: 468px) {
    .chaindivider {
      left: 250px;
    }
  }

  @media (max-width: 400px) {
    .chaindivider {
      left: 310px;
    }
  }

  @media (max-width: 350px) {
    .chaindivider {
      left: 310px;
    }
  }

  @media (min-width: 2350px) {
    .chaindivider {
      left: -650px;
    }
  }

  #about {
    position: relative;
  }