.Aboutsection2 {
    background-color: var(--dark-bg);
    /* background: url('/images/elements/S.png') no-repeat center center fixed; */
    /* top: 100%; */
    max-width: 100vw !important;
    min-height: 100vh; /* important to allow scrolling */
    height: 60vh;
    position: relative;
    margin-top: 2rem;
    font-family: 'octinspray';
    font-size: 10rem;
    display: inline-block;
    font-weight: bold;
  }
  
  .Aboutsection2 h1 {
    margin-top: 2rem;
    font-family: 'octinspray';
    font-size: 10rem;
    display: inline-block;
    white-space: nowrap;
    animation: slide-left-right 14s linear infinite;
    font-weight: bold;
  }
  @keyframes slide-left-right {
    0% {
      transform: translateX(100%);
    }
    50% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
  .card-container {
    padding-top: 4rem;
    display: flex;
    justify-content: center;
    gap: 5rem;
    flex-wrap: wrap;
  }
  
  .card {
    max-width: 400px;
  }
  
  .card-image {
    width: 100%;
    height: auto;
    display: block;
  }
  
  .card-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 20px 0 10px;
    text-transform: uppercase;
  }
  
  .card-description {
    font-size: 1rem;
    color: #ccc;
  }
  