.pricing-table {
  display: flex;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  justify-content: center;
  padding: 2rem 1rem;
}

.price-box {
  position: relative;
  perspective: 1200px;
  width: 400px;
  height: 550px;
  border-radius: 10px;
  border: 2px solid transparent;
  transition: all 0.3s;
}

.price-box:hover {
  border: 2px solid var(--primary);
}

.price-box.popular {
  border: 2px solid var(--primary);
}

.popular-tag {
  position: absolute;
  top: -18px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--primary);
  color: var(--dark-bg);
  padding: 0.4rem 1.5rem;
  font-size: 0.8rem;
  font-weight: bold;
  border-radius: 20px;
  z-index: 2;
  border: 2px solid transparent;
}

.content {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.4s;
  border-radius: 10px;
}

.price-box:hover .content {
  transform: rotateY(180deg);
  padding: 0rem 1rem 1rem 0rem;
}

.price-box.popular:hover .content {
  border: 2px solid transparent;
}

.price-box .front,
.price-box .back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background: var(--dark-bg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  padding: 2rem;
}

.front {
  z-index: 2;
}

.price-box:hover .content {
  transform: rotateY(180deg);
}

.back {
  transform: rotateY(180deg);
  align-items: center;
  justify-content: center;
}

.back-content {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.price {
  font-size: 2rem;
  font-weight: bold;
}

.price span {
  font-size: 1rem;
  color: #ccc;
}

#membership .cta-button {
  background: var(--primary);
  color: rgb(0, 0, 0);
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s;
}

#membership .cta-button:hover {
  background: var(--dark-bg);
  color: var(--primary);
}

ul {
  padding-left: 1rem;
  list-style: none;
}

.price-box .back-content ul li {
  margin: 0.5rem 0;
  color: var(--light-text);
  font-size: 0.95rem;
}

.section-title {
  text-align: center;
  /* font-size: 2rem; */
  margin-bottom: 2rem;
  color: #fff;
}

.price-box h4 {
  font-family: var(--font-geist-mono);
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

#membership {
  width: 100vw;
  padding: 5rem;
}

@media (max-width: 1023px) {
  .pricing-table {
    flex-direction: column;
    align-items: center;
  }
  
  .price-box {
    position: relative;
    perspective: 1200px;
    width: 350px;
    height: 400px;
    border-radius: 10px;
    border: 2px solid transparent;
    transition: all 0.3s;
  }
}