.Services {
    background-size: contain;
    background-color: #000;
    max-width: 100vw;
    width: 100vw;
    height: 100vh;
    padding: 0% 0% 0% 0%;
    position: relative;
    /* overflow-x: hidden !important; */
  }
  
  .Servicessection1 {
    background-color: none;
    width: 100vw;
    height: 50vh;
    position: relative;
  }
  
  .Servicessection1 text {
    font-family: 'Swiss721Bold';
    font-weight: bold;
  }
  
  
  